/* Style for all sites */
* {
    box-sizing: border-box;
}
body {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    height: 100vH;
}
a:hover, a, a:active{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.685);
}

h2 {
    font-weight: bold;
}
label {
    color: #1E3190;
    font-weight: bolder;
    font-size: larger;
    text-transform: uppercase;
}
.side-bar {
    width: 10vw;
    height: 100%;
    position: fixed;
    background-color: #1E3190;
    font-size: 1.5vw;
    display: grid;
    grid-template-rows: 20% 65% 15%;
}
.align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.side-bar img {
    margin: auto;
    width: 8vh;
} 
.profile-pic {
    width: 10vh;	
    object-fit: cover;	
    border-radius: 50%;	
    border: white solid;
}
.page-selected {
    text-align: center;
    font-weight: bold;
    color: white;
    width:100%;
    border-left: 5px white solid;
}
.subheading {
    color: #1E3190;
    font-size: medium;
    text-transform: uppercase;
}
.main-box {
    padding: 2%;
    font-size: large;
    width: 88vw;
    position: absolute;
    height: 100%;
    right: 0;
    left: 10vw;
}
.btn-primary {
    background-color: #1E3190;
    border-color: #1E3190;
}
.custom-padding {
    padding-right: 3% !important;
    padding-left: 3% !important;
} 


/* Style for Add-Task site */
.form-control {
    font-size: 1.2rem;
}
.form-control:hover {
    cursor: pointer;
}
.form-group {
    margin-bottom: 2rem;
}
form {
    background-color: #F4F3FB;
    height: 70vH;
    width: 80vW;
    border-radius: 8px;
    margin-top: 4%;
    padding: 4%;
}
.assigned-pic {
    width: 30%;
    object-fit: contain;
    border-radius: 100%;
    margin-right: 2%;
    margin-bottom: 5%;
    transition: all 125ms ease-out;
    opacity: 0.5;
}
.assigned-people-box {
    display: flex;
}
.assigned-pic:hover {
    transform: scale(1.1);
    opacity: 1;
    cursor: pointer;
}
.plus {
    width: 20%;
    object-fit: contain;
    transition: all 125ms ease-out;
}
.plus:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.btn-row {
    display: block;
    justify-content: right;
    margin-top: 5%;
}
.btn-row button {
    float: right;
    font-size: large;
}


/* Style for the Matrix Site *//* Style for the Matrix Site */	
.matrix-main-box {
    position: absolute;
    left: 15vh;
    padding: 15px;
    width: 88vw;
    height: 100%;
    display: grid;	
    grid-template-columns: 10% 40% 40% auto;	
    grid-template-rows: 5% 40% 40% auto;	
    grid-template-areas: "urgency urgency urgency urgency"	
                        "importance main main main"	
                        'importance main main main'	
                        'importance main main main';	
}	
    /* Importance, urgency and low letter styles */	
h4 {	
    font-size: 4vh;
    color: grey;	
    font-weight: lighter;	
    margin: 3%;	
}	
.urgency-arrow {	
    grid-area: urgency;	
    display: flex;	
    justify-content: space-between;	
    align-items: center;	
}	
.importance-arrow {	
    grid-area: importance;	
    height: 100%;
    display: flex;
    flex-direction: column;	
    justify-content: space-between;	
    align-items: center;	
}	
.importance-arrow h4:nth-child(3) {	
    writing-mode: vertical-rl;	
    transform: rotate(180deg);	
}	
    /* Horizontal and vertical lines and arrows */	
.line-horizontal {	
    width: 80%;	
    border: black  1px solid;	
}	
.line-vertical {	
    height: 80%;	
    border: black  1px solid;	
}	
.arrow {	
    border-left: transparent 10px solid;	
    border-top: transparent 10px solid;	
    border-right: black 10px solid;	
    border-bottom: transparent 10px solid;	
}	
    /* Content inside the matrix */	
h3 {	
    font-size: 4vh;	
    position: sticky;
    top: 0;
    border: 1%;	
}	
.matrix-box {	
    text-align: center;	
    grid-area: main;
    overflow: auto;
    height: 100%;	
    display: grid;
    grid-template-columns: 1fr 1fr;	
    grid-template-areas: "one two"	
                        "three four"; 
}	
.blue-box {	
    max-height: 40vh;
    min-height: 30vh;
    width: 100%;	
    background-color: #F4F3FB;	
    overflow-y: auto;
    border-radius: 10px;
    border: 4px solid #F4F3FB;
    display: flex;
    flex-direction: column;
    align-items: center;
}	
.do-box, .schedule-box, .delegate-box, .eliminate-box {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}
.do-box {	
    margin-right: 5%;	
    grid-area: one;	
}	
.schedule-box {	
    margin-left: 5%;	
    grid-area: two;	
}	
.delegate-box {	
    margin-right: 5%;	
    grid-area: three;	
}	
.eliminate-box {	
    margin-left: 5%;	
    grid-area: four;	
}
.task-box {
    background-color: white;
    width: 90%;
    height: auto;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-items: left;
    text-align: left;
    margin: 5px;
    padding: 1% 3%;
    box-shadow: 2px 2px grey;
}
.task-box:hover {
    transform: scale(1.01);
}
.task-date {
    height:5%;
    font-size: small;
    color: grey;
    margin-bottom: 8px;
}
.task-title {
    font-weight: bold;
}
.task-description {
    height: 30%;
    color: grey;
    margin-bottom: 4px;
}
div.task-category {
    background-color: #5279FC;
    color: white;
    font-size: small;
    border-radius: 8%;
    bottom: 0px;
    left: 10px;
    width: fit-content;
    height: fit-content;
    padding: 4px 16px 4px 16px;
}
div.task-category:hover {
    cursor: pointer;
}
.task-box-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.task-box-bottom img {
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    margin:2px;
}
.task-box-bottom-pictures {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 2px;
    overflow: auto;
}


/* Styles for task-list (index.html) */
.empty-task-list {
    position: absolute;
    top: 30vh;
    left: 14vw;
    font-size: larger;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #F4F3FB;
    padding: 1% 3% 3% 3%;
    border-radius: 8px;
}
.empty-task-list a, button {
    font-size: x-large;
    color: white;
    padding: 4%;
}
.empty-task-list img {
    width: 8vw;
}
.list-box {
    width: 100%;	
    height: 100%;
    display: grid;	
    grid-template-columns: 25% 20% 55%;
    grid-template-rows: 5%;   
    grid-auto-rows: min-content; 
    grid-template-areas: "label label label"
                        "task task task";
    align-items: center;
    row-gap: 1.5%;
    padding: 0.5em; 
}
.list-box label {
    text-transform: uppercase;
}

    /* Style for row in task-list */
.task-listed {
    grid-area: task;
    display: grid;
    grid-template-columns: 1.5% 23.5% 20% 55%;
    grid-row: auto;
    background-color: #F4F3FB;
    border-radius: 8px;
    height: 100%;
    transition: all 125ms ease-in-out;
} 
.task-listed:hover {
    transform: scale(1.005);
}
.task-listed p {
    margin: unset;
    display: flex;
    align-items: center;
}
.assignee-section {
    display: flex;
    align-items: center;
    padding: 2% 0;
}
.assignee-pic-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 50%; */
}
.assignee-pic-section img {
    width: 75%;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 1em;
    padding: 6% 0;
}
.contact-data-section {
    min-width: 75%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
}
.contact-data {
    padding: 3% 0;
}
    /* color indicating task-category; default is Marketing (orange) */
.category-marker {
    width: 0.3em;
    background-color: #FFB071;
    border-radius: 8px 0 0 8px;
}
.ctg-product {
    background-color: #E271FF;
}
.ctg-sales {
    background-color: #58AF69;
}
.ctg-mgmt {
    background-color: #e83e8c;
}
.email {
    color: #5279FC;
    cursor: pointer;
    transition: all 125ms ease-in-out;
}
.email:hover {
    text-decoration: underline;
}
p.task-category, label.task-category {
        display: flex;
        justify-content: center; 
}
.details {
    word-break: break-word;
    padding: 2% 2%;
}
/* Easy access classes */

.d-none {
    display: none;
}

.selected-person-pic {
    border: 2px #28a745 solid;
    opacity: 1;
}

.category-1 {
    border-left: #FFB071 5px solid;
}
.category-2 {
    border-left: #E271FF 5px solid;
}
.category-3 {
    border-left:  #58AF69 5px solid;
}
.category-4 {
    border-left:   #e83e8c 5px solid;
}



/* For Smartphones (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    
    form {
        width: 92vw;
        height: unset;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .side-bar {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 90px;
        width: 100%;
        z-index: 1;
    }
    .side-bar div {
        display: none;
    }
    .side-bar img {
        margin: 0 24px;
        object-fit: contain;
        height: 64px;
    }    
    .profile-pic {
        width: 64px;
    }
    .main-box {
        left: 2vw;
        width: unset;
    }
    .main-box h2 {
        z-index: 2;
        position: absolute;
        margin: 20px auto 20px 80px;
        color: white;
        font-size: x-large;
    }
    .subheading {
        position: relative;
        margin: 90px auto 10px auto;
        text-align: center;
    }
    .assigned-people-box {
        display: block;
    }
    .assigned-pic {
        width: 30%;
    }
    .plus {
        margin-bottom: 12px;
        margin-left: 6px;
    }

    /* index.html specific adaption */
    .list-box {
        margin-top: 24px;
        padding: unset;
        grid-template-columns: 36% 31% 33%;
        row-gap: 1%;
        grid-template-rows: 4%;
    }
    .list-box label {
        font-size: medium;
        margin: 2%;
    }
    .task-listed {
        /* display: flex; */
        grid-template-columns: 1.5% 40.5% 58%;;
        grid-template-areas:   "marker assignee category"
                                "marker assignee details"
                                "marker assignee details"
                                "marker assignee details";
     
    }
    p.task-category {
        justify-content: left;
        grid-area: category;
        font-weight: bold;
        align-items: center;
        padding-left: 5%;
    }
    p.details {
        grid-area: details;
        align-items: flex-start;
        padding-left: 5%;
        font-size: medium;
    }

    .category-marker {
        grid-area: marker;
    }
    .assignee-section {
        grid-area: assignee;
        flex-direction: column;
        align-items: flex-start; 
        padding: 4% 2%;
        overflow: auto;
    }
    .assignee-pic-section {
        flex-direction: row;
    }
    .assignee-pic-section img {
        width: 46%;
        padding: 2%;
        margin-right: 1%;
    }
    .contact-data  {
        font-size: medium;
    }
    



}