/* Styles for help.html */
html {
    scroll-behavior: smooth;
}

.help div {
    margin: 5vh 0;
}
.help h4, .help li {
    font-weight: bold;
    margin: 5vh 0 1vh 0;
}
.help-nav a, .help-nav li {
    color: black;
    margin: 0;
    font-size: medium;
}
.help img {
    width: 80%;
    margin: 2vh 0;
    margin-left: 3vw;
    border: 2px solid ghostwhite;
}
.help p{
    font-size: large;
    margin-left: 3vw;
}
.help h5 {
    margin-left: 3vw;
}
.help table {
    margin-left: 5vw;
    width: 50%;
    font-size: large;
}
.help th {
    padding: 1vh 1vw;
    border-bottom: 2px solid;
}
.help td {
    padding: 1vh 1vw;
    border-bottom: 1px dashed;
}

/* For Smartphones (landscape view, less than 820px) */
@media (max-width: 830px) {

/* help.html specific adaption */

.help h4, help li {
    font-size: x-large;
}
.help img {
    width: 90% !important;
    margin: auto !important;
}
.help table {
    width: 105%;
    margin-left: unset;
    position: relative;
    left: -5vw;
}
.help p, .help h5 {
    margin-left: unset;
}
.help td:nth-child(2n+0){
    text-align: center;
}
}



