/* Desktop view */
.empty-task-list {
    position: absolute;
    top: 30vh;
    left: 20vw;
    font-size: 1.5rem;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #F4F3FB;
    padding: 1% 3% 3% 3%;
    border-radius: 50%;
    z-index: 5;
}
.empty-task-list a, button {
    font-size: 1.5rem;
    color: white;
    padding: 4%;
    width: fit-content;
}
.empty-task-list img {
    justify-self: center;
    width: 8vw;
}
.list-box {
    width: 100%;
    height: auto;	
    margin-top: 2rem;
    display: grid;	
    grid-template-columns: 25% 20% auto 5%;  
    grid-auto-rows: min-content; 
    grid-template-areas: "label label label label"
                        "task task task task";
    align-items: center;
}
.list-box label {
    text-transform: uppercase;
}

    /* Style for row in task-list */
.task-listed {
    grid-area: task;
    display: grid;
    grid-template-columns: 1.5% 23.5% 20% 50% 5%;
    grid-row: auto;
    background-color: #F4F3FB;
    border-radius: 8px;
    height: auto;
    margin-bottom: 10px;
    transition: all 125ms ease-in-out;
} 
.task-listed:hover {
    transform: scale(1.005);
}
.task-listed p {
    margin: unset;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}
.assignee-section {
    display: flex;
    align-items: center;
    height: 100%;
    /* overflow: auto; */
}
.assignee-pic-section {
    display: flex;
    margin: 0.5rem 0.5rem 0.5rem 0;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}
.assignee-pic-section img {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 3rem;
    height: 3rem;
    margin: 2px 0 0 0;
    border-radius: 50%;
}
.contact-data-section {
    display: flex;
    /* height: 3.35rem; */
    margin: 4px 0 0 0;
    flex-direction: column;
}
    /* color indicating task-category; default is Marketing (orange) */
.category-marker {
    width: 0.3rem;
    background-color: #FFB071;
    border-radius: 8px 0 0 8px;
}
.ctg-product {
    background-color: #E271FF;
}
.ctg-sales {
    background-color: #58AF69;
}
.ctg-mgmt {
    background-color: #e83e8c;
}
p.email {
    text-align: left;    
    font-size: 1.1rem;
    color: #5279FC;
    cursor: pointer;
    transition: all 125ms ease-in-out;
}
.email:hover {
    text-decoration: underline;
}
p.task-category, label.task-category {
        display: flex;
        justify-content: center; 
}
.details {
    word-break: break-word;
    padding: 2% 2%;
}
.details:hover {
    cursor: text;
}
button.close {
    margin: auto;
    font-size: 1.7rem;
}

/* For Smartphones (landscape view, less than 830px) */
@media (max-width: 830px) {
    .list-box label {
        text-align: center;
        font-size: 1.2rem;
        margin: 2%;
    }
    .empty-task-list {        
        width: 40vw;
        height: 52vh;
        left: 21.5vw;
        padding: 8px;
        position: absolute;
        top: 44vh;
    }   
    .empty-task-list img {
        width: 8vw;
    }
    .empty-task-list a, .empty-task-list p {
        font-size: 1rem;
       /* margin-bottom: 8px; */    }
    .list-box {
        width: 100%;	
        height: 100%;
        display: grid;	
        grid-template-columns: 31.5% 15% 40% auto;
        grid-auto-rows: min-content; 
        grid-template-areas: "task task task task";
        align-items: center;
    }
    .task-listed {
        grid-template-columns: 1.5% 28.5% 20% 42% 8%;
        grid-template-areas:    "marker assignee category details delete"
                               "marker assignee category details delete"
                                "marker assignee category details delete"
                                "marker assignee category details delete" ;
        max-height: 200px;
        grid-template-rows: 42px 1fr;
     
    }
    .task-listed p {
        font-size: 1.2rem;
    }
    p.task-category {
        justify-content: center;
        grid-area: category;
        font-weight: bold;
        align-items: center;
        padding-left: 5%;
    }
    p.details {
        grid-area: details;
        align-items: center;
        padding-left: 5%;
        overflow: auto;
    }
    .category-marker {
        grid-area: marker;
    }
    .assignee-section {
        grid-area: assignee;
        align-items: center; 
        padding: 4% 2%;
        overflow: auto;
    }
    .assignee-pic-section {
        flex-direction: column;
        margin: 0.5rem;
    }
    .assignee-pic-section img {
        width: 3rem;
        height: 3rem;
    }
   
    button.close {
        grid-area: delete;
    }

}

@media (max-width: 420px) {
     /* Task List/index.html specific adaptation */
    
     .empty-task-list {
        width: 85vw;
        height: auto;
        left: 7.5vw !important;
        top: 30vh;
        padding: 16px 12px 24px 12px
    }   
    .empty-task-list img {
        width: 25vw;
    }
    .empty-task-list a {
        font-size: 1rem;
        margin-bottom: 8px;
    }
    .list-box label {
        text-align: left;
    }
    label.task-category {
        display: none;
    }
    p.task-category {
        justify-content: left;
        margin-top: 0.5em;
    }
    .list-box {
        display: grid;	
        grid-template-columns: 41.5% auto;
        grid-auto-rows: min-content; 
        grid-template-areas: "task task";
        align-items: center;

    }
    .task-listed {
        margin-bottom: 0.2em;
        max-height: 10em;
        height: auto;
        /* display: flex; */
        display: grid;
        grid-template-columns: 1.5% 40% auto 10%;
        grid-template-areas:   "marker  assignee category delete"
                                "marker assignee  details details"
                                "marker assignee details details";
    }
    .task-listed p {
        font-size: 1rem;
    }
   
    /* .assignee-section {
        grid-area: assignee;
        flex-direction: row;
        align-items: flex-start; 
        padding: 4% 2%;
        overflow: auto;
    } 
    .assignee-pic-section {
        flex-direction: column;
    } */
    .contact-data {
        width: fit-content;
    }
    .close {
        grid-area: delete;
        align-self: center;
        margin: 2em;
    }
    p.details {
        justify-content: start;
        align-items: center;
    }
    button.close {
        font-size: 1.5rem;
    }
}